@media (min-width:300px) and (max-width: 321px){
    body{
        padding: 0;
        margin: 0;
    }
    .home{
        display: block;
        width: 100%;
        padding: 0;
        /* margin: 0.5rem 1rem; */
        margin: auto;
    }
    .home .content{
        margin: 0 1rem;
    }
    .home .content h3{
        word-wrap: break-word;
    }
    .home .content h3 span{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    .home .content .btn{
        display: none;
    }
    .home .image{
        margin: auto;
        object-fit: cover;
        width: 30rem;
        height: 30rem;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    header{
        left: -100%;
    }
    header.active{
        left: 0;
    }
    #menu-bars{
        display: block;
    }
    ::-webkit-scrollbar {
        display: none;
      }

}

@media (min-width:322px) and (max-width: 739px){

    body{
        padding: 0;
        margin: 0;
    }
    .home{
        display: block;
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .home .content{
        margin: 0 1rem;
    }
    .home .content h3{
        word-wrap: break-word;
    }
    .home .content h3 span{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    .home .content .btn{
        display: none;
    }
    .home .image{
        margin: auto;
        align-items: center;
        object-fit: cover;
        width: 30rem;
        height: 30rem;
        border-radius: 100%;
    }

    header{
        left:-100%;
    }

    header.active{
        left:0%;
    }
    #menu-bars{
        display: block  ;
    }

    ::-webkit-scrollbar {
        display: none;
      }
}

@media (min-width:739px) and (max-width: 1024px){
   header{
       display: flex;
       flex-direction: column;
   }
   header .navbar{
       /* margin-top: -200px; */
       align-items: center;
       justify-content: center;
       vertical-align: middle;
   }

}