@media (max-width: 320px){
    body{
        padding: 0;
        margin: 0;
    }
    header{
        display: none;
        position: relative;
        width: 0;
    }
    header .navbar{
        display: none;
        position: relative;
        width: 0;
    }
    .home{
        align-items: center;
        justify-content: center;
    }
    .home .content{
        margin: 0 1rem;
    }
    .home .content h3{
        word-wrap: break-word;
    }
    .home .content h3 span{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    .home .content .btn{
        display: none;
    }
    .home .image{
        /* margin: auto; */
        object-fit: cover;
        width: 30rem;
        height: 30rem;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }


    ::-webkit-scrollbar {
        display: none;
      }

}

@media (max-width: 739px){
    /* body{
        padding: 0;
    }
    header{
        display: none;
        position: relative;
        width: 0;
    } */

    body{
        padding: 0;
        margin: 0;
    }
    header{
        display: none;
        position: relative;
        width: 0;
    }
    header .navbar{
        display: none;
        position: relative;
        width: 0;
    }
    .home{
        display: block;
        width: 100%;
        padding: 0;
        /* margin: 0.5rem 1rem; */
        margin: auto;
    }
    .home .content{
        margin: 0 1rem;
    }
    .home .content h3{
        word-wrap: break-word;
    }
    .home .content h3 span{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    .home .content .btn{
        display: none;
    }
    .home .image{
        margin: auto;
        align-items: center;
        object-fit: cover;
        width: 30rem;
        height: 30rem;
        border-radius: 100%;
    }



    ::-webkit-scrollbar {
        display: none;
      }
}